<link rel="stylesheet" href="css/styles.css">

<div class="card hover:shadow-lg">
    <a href="/angelbeats">
        <img src="img/angelbeats.jpg" alt="angel beats cover image" class="w-full h-32 sm:h-48 object-cover">
        <div class="m-4">
            <span class="font-bold">Angel Beats</span>
            <span class="block text-gray-600 text-sm">Genres: Sad</span>

        </div>
        <div class="badge">
            <span>Most Popular</span>
    </a>
</div>
</div>
<div class="card hover:shadow-lg">
    <a href="/onepiece">
        <img src="img/onepiece.png" alt="one piece cover image" class="w-full h-32 sm:h-48 object-cover">
        <div class="m-4">

            <span class="font-bold">One Piece</span>
            <span class="block text-gray-600 text-sm">Genres: Adventure (also can be sad)</span>

        </div>
        <div class="badge">
            <span>Long Story</span>
    </a>
</div>
</div>
<div class="card hover:shadow-lg">
    <a href="/clannad">
        <img src="img/clannad.jpg" alt="clannad cover image" class="w-full h-32 sm:h-48 object-cover">
        <div class="m-4">
            <span class="font-bold">Clannad</span>
            <span class="block text-gray-600 text-sm">Genres: Big Sad</span>
        </div>
        <div class="badge">
            <span>Watch if you want to cry</span>
    </a>
</div>
</div>
<div class="card hover:shadow-lg">
    <a href="/violetevergarden">
        <img src="img/aquaman.jpg" alt="bijan cover image" class="w-full h-32 sm:h-48 object-cover">
        <div class="m-4">
            <span class="font-bold">Aquaman and the Lost Kingdom</span>
            <span class="block text-gray-600 text-sm">Genres: Bijan</span>
        </div>
        <div class="badge">
            <span>Click for a surprise</span>
    </a>
</div>
</div>
</div>

<div class="mt-8">